*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BARRA DE NAVEGACION*/
.navbar-collapse{
    flex-grow: 0;
}

/*CUERPO DE BODY*/
body{
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg,#769aa138,#685e8538), url(../Imagenes/portada.jpg);
    background-size: cover;
    background-position: center;
    }
    .header-cont{
        max-width: 600px;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .header-cont img{
        width: 500px;
        height: 500px;
        margin-top: 50px;
    }

    .header-cont h1{
        font-size: 80px;
        color: black;
        background-color: rgba(255,255,255,0.6);
        border-radius: 20px;
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Domine', serif;
    }
    
    .header-cont h2{
        font-size: 60px;
        color:black;
        background-color: rgba(255,255,255,0.6);
        border-radius: 20px;
        text-transform: uppercase;
        font-weight: 300;
        margin: 30px;
        font-family: 'Domine', serif;
    }

    .modal{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal{
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.5);
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        transition: all 500ms ease;
        opacity: 0;
        visibility: hidden;
    }
    
    #btn-modal:checked ~ .modal{
        opacity: 1;
        visibility: visible;
    }

    .contenedor{
        width: 400px;
        height: 400px;
        margin: auto;
        /*background: rgb(255, 255, 255);*/
        background: rgba( 255, 255, 255, 0.75 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 0px );
        -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
        transition: all 500ms ease;
        position: relative;
        transform: translateY(-30%);
    }
    
    #btn-modal:checked ~ .modal .contenedor{
        transform: translateY(0%);
    }
    
    .contenedor h6{
        margin-top: 0;
        border-radius: 10px;
        padding: 10px;
        background: black;
        color: rgb(255, 255, 255);
    }
    
    .contenedor label{
        position: absolute;
        top: 10px;
        right: 10px;
        color: rgb(245, 243, 243);
    }
    #btn-modal{
        display: none;
    }
    .lbl-modal{
        background: #fff;
        padding: 10px 15px;
        border-radius: 40px;
        cursor: pointer;
        margin: 30px;
    }
    
    .contenido p{
        font-family: 'Domine', serif;
        font-size: 30px;
        margin-top: 80px;
    }
    
    .contenido a{
        display: inline-block;
        margin-top: 100px;
        background: white;
        padding: 10px 15px;
        border-radius: 40px;
        text-decoration: none;
        color: black;
        font-weight: 700;
        transition: all 0.3s ease;
    }
    
    .contenido a:hover{
        transform: translateY(-5px);
        background: yellow;
    }

/*pie de pagina*/
.pie-pagina{
    width: 100%;
    background-color: #000000;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}