* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.card-group .card {
	background-color: black;
	color: white;
	border-color: white;
}

.card-group .card img {
	height: 300%;
}
.content {
	background-color: #555;
	width: 100%;
	height: 50vh;
}

.content-barra {
	background-color: #555;
}

/* Barra de buscador*/

.buscador {
	width: 40%;
	height: 60px;
	display: flex;
	justify-content: end;
	align-items: center;
	position: static;
	background-color: #555;
	/*float: right;*/
}

/* Style the search field */
form.example input[type='text'] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

/* Style the submit button */
form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #2196f3;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
}

form.example button:hover {
	background: #0b7dda;
}

/* Clear floats */
form.example::after {
	content: '';
	clear: both;
	display: table;
}

.table {
	margin-bottom: 0;
}
