/* cuerpo del login*/
:root {
	--dark: #16191c;
	--dark-x: #1e2126;
	--light: #ffffff;
}

.bg-dark-x {
	background-color: var(--dark-x);
}

.bg-grey {
	background-color: rgb(121, 121, 121);
}

.formClass {
	background-color: #555;
	color: white;
}

#emailHelp {
	color: lightblue;
}

.btn {
	min-height: 3.125rem;
	font-weight: 600;
}

.form-control {
	min-height: 3.125rem;
	line-height: initial;
}
.form-control:focus {
	background-color: var(--dark-x);
	color: none;
	outline: none;
}

.img-1 {
	background-image: url('../imagenes/Login/Login1.jpg');
	background-size: cover;
	background-position: center;
}

label,
h3 {
	color: white;
}
