/* cuerpo del login*/
:root {
	--dark: #16191c;
	--dark-x: #1e2126;
	--light: #ffffff;
}

.text-light {
	color: var(--light) !important;
}
.bg-dark {
	background-color: var(--dark) !important;
}
.bg-dark-x {
	background-color: var(--dark-x);
}

.btn {
	min-height: 3.125rem;
	font-weight: 600;
}

.form-control {
	min-height: 3.125rem;
	line-height: initial;
}
.form-control:focus {
	background-color: var(--dark-x);
	outline: none;
}

.img-1 {
	background-image: url('../imagenes/Login1.jpg');
	background-size: cover;
	background-position: center;
}


.mb-4 {
	color: white;
}
