

.img-container {
    padding: 10px;
    width: 45%;
    max-width: 50%;
}

.img-containeR {
    padding: 10px;
    width: 30%;
}

.product{
    margin-left: 10em;
    margin-right: 10em;
    border-radius:0.5rem;
   	border: 1px solid lightslategray;
    border-collapse: collapse;
    overflow: hidden;
}

#imgProduct {
    height: 100%;
    width: 100%;
    border-radius:0.5rem;
   	border: 1px solid lightslategray;
    border-collapse: collapse;
}

#item {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    float: left;
    max-width: 50%;
}

.medios{   
    margin-left: 10em;
    margin-right: 10em;
    border-radius:0.5rem;
   	border: 1px solid lightslategray;
    border-collapse: collapse;
    overflow: hidden;
   
}

#marcas {
	
    height: 50px;
    width: 50px;
}

.grupo {
	display: flex;
	justify-content: center;
	align-items: center;
}