<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Detalle producto</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
		crossorigin="anonymous">
</head>

<body>
	<header>
		<div th:replace="fragments-navbar-footer :: navbar"></div>
	</header>
	<p th:if="${error != null}" th:text="${error}" style="color: red;"></p>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header bg-dark text-white text-center text-uppercase"
				th:text="${titulo}"></div>
			<div class="card-body">
				<img class="img-thumbnail rounded float-left"
					th:src="@{'/recursos/' + ${prod.foto}}" th:alt="${prod.foto}"
					style="max-width: 25%;">
				<ul class="list-group">
					<li class="list-group-item" th:text="'ID: ' +${prod.id}"></li>
					<li class="list-group-item" th:text="'MARCA: ' +${prod.marca}"></li>
					<li class="list-group-item" th:text="'OTRAS MARCAS: ' +${prod.otrasMarcas}">
					</li>
					<li class="list-group-item" th:text="'DESCRIPCION: ' +${prod.descripcion}"></li>
					<li class="list-group-item" th:text="'TIPO: ' +${prod.tipo}"></li>
					<li class="list-group-item" th:text="'STOCK: ' +${prod.stock}"></li>
					<li class="list-group-item" th:text="'PRECIO: ' +${prod.precio}"></li>
					<li class="list-group-item" th:text="'ENVASE: ' +${prod.envase}"></li>
					<li class="list-group-item" th:text="'ORIGEN: ' +${prod.origen}"></li>
					<li class="list-group-item" th:text="'VENDIDOS: ' +${prod.vendidos}"></li>
					
				</ul>
			</div>
		</div>
	</div>
	<footer>
		<div th:replace="fragments-navbar-footer :: footer"></div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
</body>

</html>