<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/navbar-footer.css">
    <link rel="stylesheet" href="/css/filtradoCategoria.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Domine&family=Permanent+Marker&display=swap"
        rel="stylesheet" />
    <script src="https://kit.fontawesome.com/e84be291c7.js" crossorigin="anonymous"></script>
    <style>

    </style>

    <title>filtrar producto</title>
</head>

<body>
    <header>
        <div th:replace="fragments-navbar-footer :: navbar"></div>
    </header>
    <div class="container">
        <form>
            <div class="gap-2 my-3 mx-auto d-flex justify-content-center align-items-center">
                <label for="search" class="form-label"><svg xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" fill="currentColor" class="bi bi-search"
                        viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg></label>
                <input type="text" class="form-control w-75 ml-2" id="search" />
            </div>
        </form>

        <div id="cards">
            <div class="card" th:each="prod:${productos}">
                <img th:src="@{'/recursos/' + ${prod.foto}}" th:alt="${prod.foto}"
                    class="card-img-top" />
                <div class="card-body titulo text-center text-uppercase">
                    <span class="categoria" th:text="${prod.categoria}">Categoria</span>
                    <span class="marca" th:text="${prod.marca}">Marca</span>
                    <span th:if="${prod.categoria} != 'ESPIRITUOSAS'" class="tipo" 
                        th:text="${prod.varietal}">Familia</span>
                </div>
                <h2 class="precio align-self-center my-3" th:text="'$' +${prod.precio}">Precio</h2>

                <form class="formulario" method="GET">
                    <div class="botones">
                        <button class="btn btn-dark menos">-</button>
                        <input class="cantidad fs-3 align-self-center" th:value="0" />
                        <button class="btn btn-dark mas">+</button>
                    </div>
                    <button type="submit" class="btn btn-dark m-2">agregar al carrito</button>
                </form>
            </div>

        </div>
    </div>

    <footer class="pie-pagina">
        <div th:replace="fragments-navbar-footer :: footer"></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script>
        // para filtrar cards
        const contenedor = document.querySelector('#cards');
        const search = document.querySelector('#search');
        const cards = document.querySelectorAll('.card');
        const cardsElement = Array.from(cards);

        search.addEventListener('keyup', (e) => {
            const searchText = e.target.value;

            cardsElement.map((e) => {
                const tipo = e.children[1].children[2].outerText
                const marca = e.children[1].children[1].outerText
                const texto = `${marca} ${tipo}`.toLowerCase()

                if (searchText == '') {
                    e.classList.remove('hide');
                } else {
                    if (texto.includes(searchText)) {
                        e.classList.remove('hide');
                    } else {
                        e.classList.add('hide');
                    }
                }
            });
        });

        // para cambiara cantidad de producto
        const menos = document.querySelectorAll('.menos');
        const mas = document.querySelectorAll('.mas');

        menos.forEach(boton => {
            boton.addEventListener('click', (e) => {
                e.preventDefault();
                const input = e.target.nextElementSibling;
                if (input.value > 0) {
                    input.setAttribute('value', input.value--)
                }
            })
        });

        mas.forEach(boton => {
            boton.addEventListener('click', (e) => {
                e.preventDefault();
                const input = e.target.previousElementSibling;
                input.setAttribute('value', (input.value++))
            })
        });



    </script>
</body>

</html>