<div th:fragment="navbar">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="left">
        <a class="navbar-brand" th:href="@{/home}"> <img src="../imagenes/Logo Basico.jpeg"
            alt=""></a>
        <h3>BARRA LIBRE</h3>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#MENU">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="right collapse navbar-collapse " id="MENU">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/nosotros}">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/login}">INGRESAR</a>
          </li>
          <li class="nav-item">
            <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/logout}">SALIR</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div th:fragment="footer">
  <footer class="footer">

    <div class="grupo-1">
      <div class="box">
        <figure>
          <a href="#">
            <img src="../imagenes/Logo Completo.jpeg" alt="Logo 4">
          </a>
        </figure>
      </div>

      <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <p>Hermosas cosas sobre nosotros </p>
        <p>somos lo mejor de eso no queda duda</p>
      </div>

      <div class="box siguenos">
        <h2>SIGUENOS</h2>
        <div class="red-social">
          <a target="_blank"
            href="https://www.facebook.com/BARRA-MOVIL-DE-TRAGOS-BARRA-LIBRE-BARRA-PARA-NI%C3%91OS-PRECIOS-PARA-EVENTOS-153529671386665"
            class="fa fa-facebook"></a>
          <a target="_blank" href="https://www.instagram.com/barralibre.berazategui/?hl=es-la"
            class="fa fa-instagram"></a>
          <a target="_blank" href="https://twitter.com/BARRALIBRE1" class="fa fa-twitter"></a>
          <a target="_blank" href="https://www.youtube.com/watch?v=BTEkFF-NhAI"
            class="fa fa-youtube"></a>
        </div>
      </div>

    </div>

    <div class="grupo-2">
      <small>&copy; 2021 <b>Barra Libre</b> - Todos los Derechos Reservados.</small>
    </div>
  </footer>
</div>