<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Domine&family=Permanent+Marker&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/e84be291c7.js" crossorigin="anonymous"></script>
</head>
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <img src="Imagenes/ARRA LIRE.png" alt="" width="80px" height="80px">BARRA LIBRE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#MENU">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="MENU">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3" >
            <li class="nav-item">
              <a class="nav-link" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">NOSOTROS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">INGRESAR</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LOGOUT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>
    <body>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="Imagenes/welcome.jpg" class="d-block" alt="...">
              </div>
              <div class="carousel-item">
                <img src="Imagenes/mesa.jpg" class="d-block" alt="...">
              </div>
              <div class="carousel-item">
                <img src="Imagenes/estantes.jpg" class="d-block" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="card-group">
            <div class="card">
              <img src="Imagenes/vino.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">VINOS</h5>
                <p class="card-text">DESCRIPCION DE LA BEBIDA.</p>
              </div>
              <div class="card-footer">
                <a href="Index.html"><button type="button" class="btn btn-primary">VINOS</button></a>
              </div>
            </div>
            <div class="card">
              <img src="Imagenes/cerveza.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">CERVEZAS</h5>
                <p class="card-text">DESCRIPCION DE LA BEBIDA</p>
              </div>
              <div class="card-footer">
                <a href="Index.html"><button type="button" class="btn btn-primary">CERVEZAS</button></a>
              </div>
            </div>
            <div class="card">
              <img src="Imagenes/espirituosas.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">BEBIDAS ESPIRITUOSAS</h5>
                <p class="card-text">DESCRIPCION DE LA BEBIDA</p>
              </div>
              <div class="card-footer">
                <a href="Index.html"><button type="button" class="btn btn-primary">ESPIRITUOSAS</button></a>
              </div>
            </div>
          </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="Imagenes/ARRA LIRE.png" alt="Logo de SLee Dw">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Hermosas cosas sobre nosotros </p>
                <p>somos lo mejor de eso no queda duda</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2021 <b>Barra Libre</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</html>