<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/navbar-footer.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Domine&family=Permanent+Marker&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/e84be291c7.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div th:replace="fragments-navbar-footer :: navbar"></div>
    </header>
    
    <div>
      <h3>Algo sobre nosotros</h3>
        <p> 
            Somos un equipo de expertos en bebidas dedicado a proveer la más amplia variedad de productos a clientes de todo el país.
            Nos enfocamos en un servicio personalizado, facilidad de compra y entregas inmediatas.
            ¿Nuestro misión? 
            Contar con la más amplia variedad de bebidas y proveer a clientes de todo el país.
            ¿Nuestra visión?
            Ser los primeros en los que pienses cuando tengas que comprar bebidas, estés donde estés.
        </p>
    </div>

</body>

</html>