<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/detalleProducto.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Domine&family=Permanent+Marker&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/e84be291c7.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div th:replace="fragments-navbar-footer :: navbar"></div>
    </header>
    
    <div>
      <h3>Algo sobre nosotros</h3>
        <p> 
            Somos un equipo de expertos en bebidas dedicado a proveer la más amplia variedad de productos a clientes de todo el país.
            Nos enfocamos en un servicio personalizado, facilidad de compra y entregas inmediatas.
            ¿Nuestro misión? 
            Contar con la más amplia variedad de bebidas y proveer a clientes de todo el país.
            ¿Nuestra visión?
            Ser los primeros en los que pienses cuando tengas que comprar bebidas, estés donde estés.
        </p>
    </div>

	<footer class="footer">
		<div class="grupo-1">
			<div class="box">
				<figure>
					<a href="#">
						<img src="../../imagenes/Logo Completo.jpeg" alt="Logo 4">
					</a>
				</figure>
			</div>

			<div class="box">
				<h2>SOBRE NOSOTROS</h2>
				<p>A partir de este momento somos la primer página</p>
				<p>de Delivery de Bebidas en la que vas a pensar</p>
				<p>cuando tengas que comprarlas, estés donde estés.</p>
				<p>Nos caracteriza ser el mejor equipo para la satisfacción</p>
				<p>plena de cada uno y una de nuestros clientes.</p>
			</div>

			<div class="box siguenos">
				<h2>SIGUENOS</h2>
				<div class="red-social">
					<a target="_blank"
						href="https://www.facebook.com/BARRA-MOVIL-DE-TRAGOS-BARRA-LIBRE-BARRA-PARA-NI%C3%91OS-PRECIOS-PARA-EVENTOS-153529671386665"
						class="fa fa-facebook"></a>
					<a target="_blank"
						href="https://www.instagram.com/barralibre.berazategui/?hl=es-la"
						class="fa fa-instagram"></a>
					<a target="_blank" href="https://twitter.com/BARRALIBRE1"
						class="fa fa-twitter"></a>
					<a target="_blank" href="https://www.youtube.com/watch?v=BTEkFF-NhAI"
						class="fa fa-youtube"></a>
				</div>
			</div>

		</div>

		<div class="grupo-2">
			<small>&copy; 2021 <b>Barra Libre</b> - Todos los Derechos Reservados.</small>
		</div>
	</footer>
</body>

</html>