<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/Registro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Domine&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <p>\>arra li\>re</p>
            </div>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">NOSOTROS</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
        </nav>
    <section class="form-registro">
        <h4 class="titulo">Llene las casillas con los datos adecuados</h4>
        <input class="controls" type="email" name="Mail" id="Mail" placeholder="Ingrese su mail ">
        <input class="controls" type="password" name="Contraseña" id="Contraseña" placeholder="Ingrese su contraseña ">
        <input class="controls" type="password" name="Confirmar contraseña" id="Confirmar contraseña" placeholder="Confirme su contraseña ">
        <input class="controls" type="text" name="Nombre" id="Nombre" placeholder="Ingrese su nombre ">
        <input class="controls" type="text" name="Apellido" id="Apellido" placeholder="Ingrese su apellido ">
        <input class="controls" type="tel" name="Numero de telefono" id="Numero de telefono" placeholder="Ingrese su numero de telefono ">
        <input class="controls" type="date" name="Fecha de nacimiento" id="Fecha de nacimiento" placeholder="Ingrese su fecha de nacimiento ">
        <input class="controls" type="text" name="Localidad" id="Localidad" placeholder="Ingrese la localidad donde vive ">
        <input class="controls" type="text" name="Direccion" id="Direccion" placeholder="Ingrese la direccion donde vive ">
        <input class="botons" type="submit" value="Registrar">
        <p><a href="#">¿Ya tiene una Cuenta? Ingresa ahora</a></p>
    </section>
    </header>
</body>
</html>